body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    flex: 1;
    min-width: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px;
}

.darkgray-text {
    color: #112112
}

.centered-text {
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
    color: #19345D;
}

a:hover {
    color: #7D8A9C;
}

.header-logo{
    font-weight:bold;
}

.header-links {
    display: flex;
    gap: 16px;
    font-size: 120%;
    list-style: none;
    margin: 0 12px 0 12px;
}

.book-your-stay {
    font-weight: bold;
    font-size: 125%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 32px;
}

.hero-header{
    font-weight: bold;
    font-size: 150%;
    margin: 0px;
}

.hero-container {
    display: flex;
    flex-direction: column;
}

.hero-subtext {
    text-align: justify;
}

.hero-img {
    max-width: 100%;
}

.card-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.card-title {
    font-weight: bold;
    font-size: 16px;
}

.card-text {
    text-align: justify;
    font-size: 14px;
    margin: 4px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
}

.card-rooms {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 24px;
}

.card-img-main {
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 8px;
    aspect-ratio: 1;
}

.card-img-rooms {
    max-width: 40%;
    max-height: auto;
}

.card-content-column {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.room-title {
    font-size: 125%;
    font-weight: bold;
}

.room-description {
    font-size: 95%;
}

.room-price {
    font-size: 125%;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer-cards {
    display: flex;
    justify-content: space-evenly;
}

.footer-card {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.footer-card-text {
    font-size: 85%;
}

.copyright {
    align-self: center;
    font-size: 80%;
}